<#@ template debug="false" hostspecific="true" language="C#"
#><#@ include file="$(SolutionDir)/tt/ChakraExternDefinitions.ttinclude"
#><#
	string JavaScriptEngineAccessModifier = "public sealed"; 
	string JavaScriptEngineClassName = "LinuxChakraEngine";
	string JavaScriptEngineInterfaces = "ChakraEngineBase";
	Predicate<ChakraExternManager.ChakraExtern> ExternPlatformPredicate = 
		(ex => false);
#><#@ include file="$(SolutionDir)/tt/ChakraTypedSafeImplementation.ttinclude"
#>