<#@ template debug="false" hostspecific="true" language="C#"
#><#@ include file="$(SolutionDir)/tt/ChakraExternDefinitions.ttinclude"
#><#
	var SourceName = "ChakraDebug.h";
	var InterfaceName = "IDebugWindowsJavaScriptEngine";
	Predicate<ChakraExternManager.ChakraExtern> SourceFilePredicate = 
		(ex => ex.Source == SourceName && ex.Target == ChakraExternManager.PlatformTarget.WindowsOnly);
#><#@ include file="$(SolutionDir)/tt/ChakraTypedInterface.ttinclude"
#>