<#@ template debug="false" hostspecific="true" language="C#"
#><#@ include file="ChakraApi_$1ChakraExternDefs.ttinclude"
#><#
	string ChakraApiClassName = "ChakraApi_Linux";
	string ChakraApiInterfaces = "IChakraApi";
	string DllName = "ChakraCore.so";
	Predicate<ChakraExternManager.ChakraExtern> ExternPlatformPredicate = 
		(ex => ex.Target == ChakraExternManager.PlatformTarget.Common);
#><#@ include file="ChakraApi_$3ApiImplementation.ttinclude"
#>