<#@ template debug="false" hostspecific="true" language="C#"
#><#@ include file="$(SolutionDir)/tt/ChakraExternDefinitions.ttinclude"
#><#
	string JavaScriptRuntimeClassName = "WindowsChakraEngine";
	string JavaScriptRuntimeInterfaces = "IJavaScriptEngine, ICommonWindowsJavaScriptEngine";
	Predicate<ChakraExternManager.ChakraExtern> ExternPlatformPredicate = 
		(ex => ex.Target == ChakraExternManager.PlatformTarget.Common || ex.Target == ChakraExternManager.PlatformTarget.WindowsOnly);
#><#@ include file="$(SolutionDir)/tt/ChakraTypedSafeImplementation.ttinclude"
#>
